@import url('https://fonts.googleapis.com/css?family=Hind|Montserrat:400,800');

body {
  font-family: 'Hind', sans-serif;
  background: linear-gradient(to bottom right, #16181F, rgb(3, 3, 3));
  color: #FFFFFF;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 800;
}

.btn {
  border-radius: 0;
}

.btn-danger{
  background: #f44336;
}

.btn-success{
  background: #477f51;
}

.btn-info{
  background: #191d20;
}

.btn-primary{
  background: #3c0f54;
}

.btn-warning{
  background: #c56f19;
}
