<!doctype html>
<html>
<head>
  <title>YATTk {% block title %}TITLE SUFFIX HERE{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Yet Another Twitch Toolkit</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/register">Create Account</a></li>
            {% if session.get("user_id") %}
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}

    {% block page_content %}
        PAGE CONTENT HERE
    {% endblock %}
    
    <footer>
        &copy 2018 <a href="http://edaleeta.com/" target="_blank">edaleeta</a>
    </footer>
</body>
</html>