<!doctype html>
<html>
<head>
  <title>Twitch Tweeter {% block title %}TITLE SUFFIX HERE{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Twitch Tweeter</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if "user_id" in session or "current_twitch_user" in session %}
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <hr>
    {% block page_content %}
        PAGE CONTENT HERE
    {% endblock %}
    
    <hr>
    <footer>
        <p>&copy 2018 <a href="http://edaleeta.com/" target="_blank">edaleeta</a></p>
    </footer>
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    {% block custom_javascript %}
    LOAD JAVASCRIPT SPECIFIC TO PAGE HERE
    {% endblock %}
</body>
</html>