<!doctype html>
<html>
<head>
  <title>YATTk {% block title %}TITLE SUFFIX HERE{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Yet Another Twitch Toolkit</h1>
    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}

    {% block page_content %}
        PAGE CONTENT HERE
    {% endblock %}
    
    <footer>
        &copy 2018 <a href="http://edaleeta.com/" target="_blank">edaleeta</a>
    </footer>
</body>
</html>