<!doctype html>
<html>
<head>
  <title>Stream Tweeter</title>
</head>
<body>
    <header>
        <h1>Stream Tweeter</h1>
    </header>
    
    <div id="root">
        <!-- React Component -->
    </div>
    
    <hr>
    <footer>
        <p>&copy 2018 <a href="http://edaleeta.com/" target="_blank">edaleeta</a></p>
    </footer>

    <!-- Scripts for React -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="http://unpkg.com/babel-standalone"></script>

    <!-- React Component -->
    <script src="/static/js/app.jsx" type="text/jsx"></script>


</body>
</html>