{% extends 'base.html' %}

{% block title %}| Home{% endblock %}

{% block page_content %}
    <p>
        Welcome
        {% if twitch_display_name %}
            {{ twitch_display_name }}
        {% endif %}!

    </p>
    {% if session.get("user_id") %}
        <div>
            <h2>Your Tweet Templates</h2>
            <ul>
                {% for template in user.templates %}
                    <li>{{ template.contents }}</li>
                {% endfor %}
            </ul>
        </div>
        {% block add_tweet_temp %}
            ADD TWEET TEMPLATE FORM HERE.
        {% endblock %}
    {% else %}
        <a href="/login">Please sign in here.</a>
    {% endif %}
{% endblock %}