{% extends 'base.html' %}
{% from 'macros.html' import tweet_template_list %}

{% block title %}| Home{% endblock %}

{% block page_content %}
    <p>
        Welcome
        {%- if current_user.is_authenticated %}
            {{ current_user.twitch_displayname }}
        {%- endif -%}
        !
    </p>
    {% if current_user.is_authenticated %}
         <!-- CONNECT TWITTER LINK  -->
        <div id="twitter-connect-container">
            <a href="/auth-twitter">Connect Twitter Account</a>
        </div>

        <div>
            <h2>Your Tweet Templates</h2>
            <div id="tweet_templates">
                {{ tweet_template_list(current_user) }}
            </div>
        </div>
        {% block add_tweet_temp %}
            ADD TWEET TEMPLATE FORM HERE.
        {% endblock %}
    {% endif %}
    {% if not current_user.is_authenticated and "current_twitch_user" not in session %}
        <a href="/login">Please sign in here.</a>
    {% endif %}
{% endblock %}

<!-- Move this later. -->
{% block custom_javascript %}
<script>
    "use strict";
    $(document).ready(function() {
        // Workaround to prevent .val() from stripping line breaks from textareas.
        $.valHooks.textarea = {
            get: function( elem ) {
              return elem.value.replace( /\r?\n/g, "\r\n" );
            }
          };
        // Event listeners
        // Delete Tweet Template button
        $("#tweet_templates").on("click", ".del-tweet-button", deleteTweetTemplate);
        // Send Test Tweet button; to be removed
        $("#tweet_templates").on("click", ".send-test-tweet-button", sendTestTweet);
        // Edit Tweet Template button
        $("#tweet_templates").on("click", ".edit-tweet-button", showEditForm);
        // Submitting Edit Tweet Template
        $("#tweet_templates").on("submit", ".edit-tweet-template-form", editTweetTemplate);
        // Submitting Add Tweet Template form
        $(document).on("submit", "#add-tweet-template-form", addTweetTemplate);
    });

    function deleteTweetTemplate(e) {
        // Send the value of this button to route delete-tweet-template
        let template_id = e.target.value;
        let payload = { "template_id": template_id }
        $.post("/delete-tweet-template", payload, (result) => {
            $("#tweet_templates").html(result)
        });
    }

    function showEditForm(e) {
        // Show the edit form for the current tweet.
        let template_id = e.target.value;
        $(`#edit-tweet-template-container-${template_id}`).toggle();
    }

    function editTweetTemplate(e) {
        // Send the value of this button to route edit-tweet-template
        e.preventDefault();
        // console.log($(this).serialize())
        let template_id = e.target.dataset.templateId;
        let contents = $(`#edit-template-contents-field-${template_id}`).val();

        let payload = { "template_id": template_id,
                        "contents": contents };

        $.post("/edit-tweet-template", payload, (result) => {
            $("#tweet_templates").html(result)
        });
    }

    function addTweetTemplate(e) {
        // Post the contents to add-tweet-template route for processing.
        e.preventDefault();
        let contents = $("#add-template-contents-field").val();
        let payload = { "contents": contents };
        $.post("/add-tweet-template", payload, (result) => {
            $("#tweet_templates").html(result);
            // Clear the textarea.
            $("#add-template-contents-field").val("");
        });
    }

    function sendTestTweet(e) {
        // Test a test "tweet"; mocking some data
        let template_id = e.target.value;
        let payload = { "template_id": template_id }
        alert(`Sending test tweet for Template ID: ${template_id}`);
        $.post("/send-test-tweet", payload, (result) => {
            alert(`Tweet sent: ${result}`)
        })
    }

</script>
{% endblock %}