{% extends 'base.html' %}

{% block title %}| Home{% endblock %}

{% block page_content %}
    <p>
        Welcome
        {%- if current_user.is_authenticated %}
            {{ current_user.twitch_displayname }}
        {%- endif -%}
        !
    </p>
    {% if current_user.is_authenticated %}
        <div>
            <h2>Your Tweet Templates</h2>
            <ul>
                {% for template in current_user.templates %}
                    <li>
                        <button type="submit" formaction="/delete-template"
                            formmethod="POST">Delete</button>
                        <button type="submit" formaction="/edit-template"
                            formmethod="POST">Edit</button>    
                        {{ template.contents }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% block add_tweet_temp %}
            ADD TWEET TEMPLATE FORM HERE.
        {% endblock %}
    {% endif %}
    {% if not current_user.is_authenticated and "current_twitch_user" not in session %}
        <a href="/login">Please sign in here.</a>
    {% endif %}
{% endblock %}