{% macro tweet_template_list(current_user) -%}
    <ul>
        {% for template in current_user.templates %}
            <li>
                <button type="submit" class="del-tweet-button" value="{{ template.template_id }}">
                    Delete
                </button>
                <button type="submit" class="edit-tweet-button" value="{{ template.template_id }}">Edit</button>    
                {{ template.contents }}
                <br />
                <div hidden class="edit-tweet-template-container" id="edit-tweet-template-container-{{ template.template_id }}">
                    <form class="edit-tweet-template-form" id="edit-tweet-template-form-{{ template.template_id }}"
                        data-template-id="{{ template.template_id }}">
                        <textarea name="template_contents" class="edit-template-contents-field" 
                            id="edit-template-contents-field-{{ template.template_id }}" required></textarea>
                        <button type="submit">Save</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
{%- endmacro %}